<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967820968003-vs8lmrvogtsaiopb4seh3drajr1bb598.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967820968003-vs8lmrvogtsaiopb4seh3drajr1bb598</string>
	<key>API_KEY</key>
	<string>AIzaSyDl2Fg0sKiAHW7xaSoekw-roooX4Fe8EsU</string>
	<key>GCM_SENDER_ID</key>
	<string>967820968003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sani.cheliz</string>
	<key>PROJECT_ID</key>
	<string>cheliz-d66d8</string>
	<key>STORAGE_BUCKET</key>
	<string>cheliz-d66d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967820968003:ios:31e0a69409bf7ac74314f6</string>
</dict>
</plist>